# Copyright (c) 2021-2026 HPMicro
# SPDX-License-Identifier: BSD-3-Clause

bindto 0.0.0.0
adapter speed 8000
adapter srst delay 500

source [find interface/cmsis-dap.cfg]

# Transport selection, defaults to jtag
# Override with e.g.: -c "set TRANSPORT cjtag" BEFORE -f options
if { ![info exists TRANSPORT] } {
    set TRANSPORT jtag
}
transport select $TRANSPORT

reset_config srst_only
