CONFIG_ESP_SDIO_HOST_INTERFACE=y

CONFIG_ESP_HOSTED_NETWORK_SPLIT_ENABLED=y
CONFIG_ESP_HOSTED_HOST_POWER_SAVE_ENABLED=y
CONFIG_ESP_HOSTED_CLI_ENABLED=y
CONFIG_ESP_HOSTED_USE_EXAMPLE_WIFI_PRE_PROVISION_CONFIG=y
CONFIG_ESP_WIFI_ENTERPRISE_SUPPORT=n
